/* CSS File */

#render_display{
	clear:both;
	position:fixed;
	bottom:0px;
	right:0px;
	padding:3px;
	z-index:9999;
	background-color:grey;
	color:white;
	opacity:0.85;
}

.ui-layout-pane{
	overflow:hidden !important;
}

#center{
	overflow:auto !important;
}

#zone{
	padding: 0px !important;
	border: 0px !important;
}
#south{
	padding: 0px !important;
    
}

.video_zone{
	width:326px;
	height:269px;
	background-color:#c7e6fc;
	margin:auto;
	margin-bottom:20px;
}

.user_name{
	padding:3px;
	height:20px;
}

.video_block{
	width:320px;
	height:240px;
	background-color:#AAA;
	margin:auto;
	position:relative;
}

#video_shield{
	width:320px;
	height:240px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:9999;
}

#logo{
	background-color: #e8e8e8;
    width: 325px;
    height: 58px;
	float:left;
}

#buttons{
	background-color: #e8e8e8;
    width: 325px;
    height: 58px;
	float:left;
	margin-left:20px;
}

#buttons button{
	width:100px;
	height:30px;
	margin:5px;
}
#status_zone{
	padding:0px 0px 5px 5px;
}

#frame_conversation{
	width:100%;
	height:100%;
}

#south{
	overflow: hidden !important;
}

p{
	margin:1px;
}

#frame_input{
	width:550px;
	border:1px solid #AAA;
	height:100%;
	resize: none;
}

#sendBtn{
	/* width:100%;
	height:100%; */
    margin-left:20px;
}

#statusMessage{
    position: absolute;
	bottom:0px;
    background:#F0F0F0;
    width:500px;
    display:none;
}

.left{
    padding: 5px 5px 10px 5px;
    vertical-align: middle;
}
/* .right{
    float:right;
    /* width:200px;
	height:49px; */
	padding:5px;
    vertical-align: middle;
} */

textarea:focus, input:focus{
    outline: none;
}


/* Modifications par Saymone */


html body.ui-layout-container div.ui-layout-north div#buttons button#nextBtn,
html body.ui-layout-container div.ui-layout-north div#buttons button#stopBtn

{
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

#retry
{
	background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 6px;
	background-color: #1ad317;
	background-image: linear-gradient(to bottom, #1ad317, #0f7b0d);
}

html body.ui-layout-container div.ui-layout-north div#buttons button#nextBtn
{
	background-color: #1ad317;
	background-image: linear-gradient(to bottom, #1ad317, #0f7b0d);
}

html body.ui-layout-container div.ui-layout-north div#buttons button#stopBtn
{
	background-color: #f22525;
	background-image: linear-gradient(to bottom, #f22525, #c51515);	
}

html body.ui-layout-container div.ui-layout-north div#buttons button#nextBtn:hover
{
	background-color: #025b00;
	background-image: linear-gradient(to bottom, #0f7b0d, #025b00);
}

html body.ui-layout-container div.ui-layout-north div#buttons button#stopBtn:hover
{
	background-color: #6e0606;
	background-image: linear-gradient(to bottom, #c51515, #6e0606);
}

html body.ui-layout-container div.ui-layout-north div#buttons button
{
	display: inline-block;
}

#status_zone
{
	display: inline-block;
	font-size: 12px;
	background-color: #eee;
	padding: 5px;
	border-radius: 5px;
	width: 300px;
	color: #676767;
	margin-top: 3px;
}

#status_zone #status
{
	color: #333;
}

#buttons
{
	width: auto;
	background: none;
	padding: 10px 5px 0 0;
}

#share
{
	width: 210px;
    float:right;
	background: none;
	padding: 13px 0 0 5px;
}

.user_name
{
	text-align: center;
	background-color: #ededed;
	border: #999;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #464646;
}

.video_zone
{
	background-color: #ededed;
	border-radius: 6px;
	border: 1px solid #ddd;
		
}

#logo
{
	text-indent: -30000px;
	background-image: url(../img/logo_geekroulette.png);
	background-color: #fff;	
}

#sendBtn
{
	margin-top: -14px;
	margin-left: 10px;
}

#frame_conversation
{
	font-size: 13px;
}

