/* CSS File */

#render_display{
	clear:both;
	position:fixed;
	bottom:0px;
	right:0px;
	padding:3px;
	z-index:9999;
	background-color:grey;
	color:white;
	opacity:0.85;
}

#zone{
	padding: 0px !important;
	border: 0px !important;
}
#south{
	padding: 0px !important;
}

.video_zone{
	width:326px;
	height:269px;
	background-color:#c7e6fc;
	margin:auto;
	margin-bottom:20px;
}

.user_name{
	padding:3px;
	height:20px;
}

.video_block{
	width:320px;
	height:240px;
	background-color:#AAA;
	margin:auto;
}

#logo{
	background-color: #e8e8e8;
    width: 325px;
    height: 58px;
	float:left;
}

#buttons{
	background-color: #e8e8e8;
    width: 325px;
    height: 58px;
	float:left;
	margin-left:20px;
}

#buttons button{
	width:100px;
	height:30px;
	margin:5px;
}
#status_zone{
	padding:0px 0px 5px 5px;
}

#frame_conversation{
	width:100%;
	height:100%;
}

#south{
	overflow: hidden !important;
}

p{
	margin:1px;
}

#frame_input{
	width:100%;
	border:1px solid #AAA;
	height:100%;
	resize: none;
}

#sendBtn{
	width:100%;
	height:100%;
}


.left{
   padding-right:206px;
   padding-left:2px;
   padding-top:2px;
   height:45px;

}
.right{
    float:right;
    width:200px;
	height:49px;
	padding-left:6px;
	padding-top:2px;
}

textarea:focus, input:focus{
    outline: none;
}